#photos {
  & > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .button {
      font: {
        size: 1rem;
      }
    }
  }
  .media-grid {
    flex: 1;
    overflow: {
      y: scroll;
    };
    .media-item {
      flex: none;
      margin: 5px 10px;
      .image {
        width: 150px;
        height: 150px;
      }
    }
  }
}