#photos {
  paddihg: 0.5rem;
  & > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .button {
      font: {
        size: 1rem;
      }
    }
  }
  & > main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  & > footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .select-navigation,
    .pagination {
      height: 3rem;
    }
    .select-navigation {
      justify-content: center;
    }
    .pagination {
      flex: 1;
      width: 100%;
    }
  }
}