#photos {
  & > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .media-grid {
    flex: 1;
    overflow: {
      y: scroll;
    };
    .media-item {
      .image {
        width: 200px;
        height: 200px;
      }
    }
  }
}