.error {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: {
    color: rgba(255, 255, 255, 0.5);
  }
  .error-content {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 350px;
    padding: 0.75rem;
    background: {
      color: rgb(255, 255, 255);
    }
    & > * {
      display: flex;
      justify-content: center;
      margin: {
        top: 0.25rem;
        bottom: 0.25rem;
      }
    }
  }
}