<div class="error-content">
  <% if(data.ui.status) { %>
    <p>Status: <%= data.ui.status %></p>
  <% } %>
  <% if(data.ui.message) { %>
    <p>Message: <%= data.ui.message %></p>
  <% } %>
  <nav></nav>
</div>