<div class="error-content">
  <% console.log(locals.settings) %>
  <p>Status: <%= locals.settings.status %></p>
  <p>Message: <%= locals.settings.message %></p>
  <button class="button">OK</button>
</div>