<div class="error-content">
  <% if(data.ui.status !== -1) { %>
    <p>Status: <%= data.ui.status %></p>
  <% } %>
  <% if(data.ui.message) { %>
    <p><%= data.ui.message %></p>
  <% } %>
  <nav></nav>
</div>