#upload {
  display: flex;
  & > header {}
  & > main {
    .subnavigation {
      display: flex;
      flex-direction: column;
    }
    #upload-image-form {
      display: flex;
      width: 100%;
      justify-content: space-between;
      label {
        display: flex;
        background: {
          color: gainsboro;
        }
      }
      input[type="file"] {
        display: none;
      }
      label,
      .input-group,
      .button-group {
        margin: 0;
      }
      button {
        &:before {
          margin: {
            right: 0.75rem;
          }
        }
      }
    }
    #upload-image-preview {
      display: flex;
      flex: 1;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}