.toggle-navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 3rem;
  background: {
    color: white;
  }
  @import "./toggle-button/index.scss";
  @import "./subnavigation/index.scss";
}
