.media-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
  }
  nav {
    display: flex;
    height: 3rem;
    justify-content: flex-end;
    background: {
      color: gainsboro;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      font: {
        size: 16px;
      }
      
    }
  }
}
