<header>
  <h2>Photo</h2>
  <nav
    id="photo-navigation"
    class="navigation"
  >
    <button
      type="button"
      id="photo-navigation-close"
      class="button icon-cross"
      data-action="close"
    ></button>
  </nav>
</header>
<main></main>