<div class="info-image-url">
  <label for="info-image-url-content">URL</label>
  <aside class="">
    <input id="info-image-url-content" value="<%= data.ui.url %>">
    <button type="button" class="button" data-action="copy">Copy</button>
  </aside>
</div>