header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
  z-index: 100;
  h1 {
    display: flex;
    align-items: center;
    flex: 1;
    font: {
      size: 2rem;
    }
    padding: {
      left: 0.5rem;
    }
    line-height: 2rem;
    a {
      cursor: pointer;
    }
  }
  @import "./toggle-navigation/index.scss";
}