@import "./application/styles/index.scss";
@import "./index/index.scss";
@import "./upload/index.scss";
@import "./photos/index.scss";
@import "./photo/index.scss";
@import "./login/index.scss";

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: {
    color: gray;
  }
}
