<header>
  <h2>Favorite</h2>
  <nav
    id="favorite-navigation"
    class="navigation"
  >
    <button
      type="button"
      id="favorite-navigation-close"
      class="button icon-cross"
      data-action="close"
    ></button>
  </nav>
</header>
<main></main>