.select-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  select {
    width: 10rem;
  }
  nav {
    display: flex;
    button {
      width: auto;
      // height: 1.5rem;
    }
  }
}