.select-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: {
    color: gainsboro;
  }
  select {
    width: 10rem;
    background: {
      color: gainsboro;
    }
  }
  nav {
    display: flex;
    button {
      width: auto;
      // height: 1.5rem;
    }
  }
}