<header>
  <h2>Profile</h2>
</header>
<main>
  <div class="form">
    <div class="form-group">
      <div class="input-group">
        <label for="profile-username-input">Username</label>
        <input id="profile-username-input" type="text" value="<%= locals.user.subID %>" disabled>
      </div>
    </div>
  </div>
</main>