#index {
  display: flex;
  flex-direction: column;
  & > header {
    justify-content: space-between;
    select {
      width: 105px;
      height: 35px;
      font: {
        size: 16px;
      }
    }
    nav {
      display: flex;
      button {
        width: auto;
        height: 35px;
      }
    }
  }
  & > main {}
}