#index {
  display: flex;
  flex-direction: column;
  & > header {
    justify-content: space-between;
    .form {
      .form-group {
        flex-direction: row;
      }
    }
  }
  & > main {}
}