<header>
  <h2>Login</h2>
</header>
<main>
  <div class="form-group">
    <div class="input-group">
      <label for="login-username-input">Username</label>
      <input id="login-username-input" type="text" >
    </div>
    <div class="input-group">
      <label for="login-api-key-input">API Key</label>
      <input id="login-api-key-input" type="text" disabled value="f71d7df0-dbea-4538-8c74-7617cbd19172">
    </div>
    <div class="button-group">
      <button type="button" id="login-button">Submit</button>
    </div>
  </div>
</main>
<footer></footer>